body {
    background: #f9f7f6;
    color: #404d5b;
    font-weight: 500;
    font-size: 1.05em;
    font-family: 'Raleway', Arial, sans-serif;
}

body .nomargin-bottom {
    margin-bottom: 0;
}

.nomargin-top {
    margin-bottom: 1em;
}

.bgcolor-1 {
    font-size: 150%;
    padding: 3em 0;
    background: #f0efee;
}

.bgcolor-2 {
    background: #d0d6d6;
    padding: 3em 0;
}

.container {
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.con-header {
    padding: 3em 190px 4em;
    letter-spacing: -1px;
}

.con-header h1 {
    font-weight: 800;
    font-size: 4em;
    line-height: 1;
    margin: 0.25em 0 0;
}

.con-header h1 .info-group {
    display: block;
    font-size: 50%;
    font-weight: 400;
    padding: 0.325em 0 0.2em 0;
    color: #c3c8cd;
}

.con-header h1 .info-users {
    display: block;
    font-size: 30%;
    font-weight: 400;
    padding: 0em 0 0.2em 0;
    color: #606375;
}

.content {
    font-size: 10px;
}

textarea {
    resize: none;
    width: 100%;
    float: right;
    text-align: right;
}

textarea::-webkit-scrollbar {
    display: none;
}

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    width: calc(100% - 2em);
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0 1em;
    width: 100%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none; /* for box shadows to show on iOS */
    text-align: right
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    color: #6a7989;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}

.input--haruki {
    position: relative;
    z-index: 1;
    display: inline-block;
    max-width: 60%;
    width: calc(100% - 2em);
    font-size: 1.05em;
    vertical-align: top;
    margin: 2em 1em 1em;
}

.input__field--haruki {
    text-align: right;
    float: right;
    padding: 0.4em 0.25em;
    width: 100%;
    height: 100px;
    background: transparent;
    color: #AFB5BB;
    font-size: 18px;
    left: 5%;
}

.input__label--haruki {
    font-size: 1.05em;
    position: absolute;
    width: 100%;
    text-align: left;
    pointer-events: none;
}

.input__label-content--haruki {
    text-align: right;
    float: right;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input__label--haruki::before,
.input__label--haruki::after {
    content: '';
    position: absolute;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 4px;
    background: #6a7989;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input__label--haruki::before {
    top: 0;
}

.input__label--haruki::after {
    bottom: 0;
}

.input__field--haruki:focus + .input__label--haruki .input__label-content--haruki,
.input--filled .input__label-content--haruki {
    -webkit-transform: translate3d(0, -90%, 0);
    transform: translate3d(0, -90%, 0);
}

.input__field--haruki:focus + .input__label--haruki::before,
.input--filled .input__label--haruki::before {
    -webkit-transform: translate3d(0, -0.5em, 0);
    transform: translate3d(0, -0.5em, 0);
}

.input__field--haruki:focus + .input__label--haruki::after,
.input--filled .input__label--haruki::after {
    -webkit-transform: translate3d(0, 0.5em, 0);
    transform: translate3d(0, 0.5em, 0);
}

.sentence {
    text-align: right;
    position: relative;
    display: inline-block;
    max-width: 60%;
    width: calc(100% - 2em);
    font-size: 1.05em;
    vertical-align: top;
    margin: 0.5em -1em ;
    background: #404d5b;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
}

.word {
    border-top: 1px solid #fff;
    padding: 5px;
    margin: 0.4em 0.2em;

}

.button--nina {
    cursor: pointer;
    padding: 0 2em;
    background: #404d5b;
    color: #fff;
    overflow: hidden;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.button--nina > span {
    display: inline-block;
    padding: 1em 0;
    opacity: 0;
    color: #fff;
    font-size: 20px;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--nina::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em 0;
    font-size: 20px;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--nina:hover {
    background-color: #404d5b;
}
.button--nina:hover::before {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
.button--nina:hover > span {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.button--nina:hover > span:nth-child(1) {
    -webkit-transition-delay: 0.045s;
    transition-delay: 0.045s;
}
.button--nina:hover > span:nth-child(2) {
    -webkit-transition-delay: 0.09s;
    transition-delay: 0.09s;
}
.button--nina:hover > span:nth-child(3) {
    -webkit-transition-delay: 0.135s;
    transition-delay: 0.135s;
}
.button--nina:hover > span:nth-child(4) {
    -webkit-transition-delay: 0.18s;
    transition-delay: 0.18s;
}
.button--nina:hover > span:nth-child(5) {
    -webkit-transition-delay: 0.225s;
    transition-delay: 0.225s;
}
.button--nina:hover > span:nth-child(6) {
    -webkit-transition-delay: 0.27s;
    transition-delay: 0.27s;
}
.button--nina:hover > span:nth-child(7) {
    -webkit-transition-delay: 0.315s;
    transition-delay: 0.315s;
}
.button--nina:hover > span:nth-child(8) {
    -webkit-transition-delay: 0.36s;
    transition-delay: 0.36s;
}
.button--nina:hover > span:nth-child(9) {
    -webkit-transition-delay: 0.405s;
    transition-delay: 0.405s;
}
.button--nina:hover > span:nth-child(10) {
    -webkit-transition-delay: 0.45s;
    transition-delay: 0.45s;
}

.button {
    border-radius: 5px;
    border: 1px solid #404d5b;
    margin: 0 auto;
    margin-top: 2em;
    max-width: 50%;
    width: 30%;
    display: block;
    background: none;
    vertical-align: top;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    background: #c3c8cd;
    color: #404d5b;
}
.button:focus {
    outline: none;
}
.button > span {
    vertical-align: middle;
}

.button--text-upper {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.button--text-thick {
    font-weight: 600;
}

.button--size-s {
    font-size: 14px;
}

